/* .nav-container {
  display: flex;
  justify-content: space-between;

  padding: 0 12px;
  margin: 0 auto;

  width: 1320px;
  height: 40px;
}

.login-button {
  padding: 5px 0;

  color: var(--grey-dark);
  background-color: var(--green-light);
  border: 1px solid var(--green-dark);
  border-radius: 5px;
}

.login-button:hover {
  color: var(--white-grey-light);
  background-color: var(--green-middle);
}

.login-button:active {
  color: var(--white-grey-light);
  background-color: var(--green-dark);

  position: relative;
  top: 2px;
}

.modal-button {
  margin: 15px 3px 0;
  background-color: var(--green-light);
  color: var( --grey-middle);
}

.high {
  background-color: var(--green-middle);
  box-sizing: content-box;
  border: solid 0.8px var(--green-dark);
}

.modal-button:hover {
  background-color: var(--green-dark);
  color: var(--white);
};

.modal-button:active {
  background-color: var(--green-dark);
  color: var(--white);

  position: relative;
  top: 2px;
} */